html {
  scroll-behavior: smooth;
}

.footer-widget .social-list li a:hover {
  color: #000;
  border-color: #000;
}

.footer-widget p a:hover {
  color: #000;
}

.pulsate {
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}

.contact-form input[type=checkbox],
.contact-form input[type=radio] {
  height: auto;
}